In [1]:
import pandas as pd
import bamboolib as bam
import numpy as np
import decimal
from math import ceil

pd.options.display.min_rows = 30

## PG23

df = pd.read_excel('PG23_2021.xlsx', header=5,)

list =['Gennaio', 'Febbraio', 'Marzo',
       'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre',
       'Ottobre', 'Novembre', 'Dicembre']
for i in df[list]:
    for index, value in df[i].iteritems():
        if not np.isnan(value):
            df[i][index] = int(ceil(value))
            
pivot = df.groupby(['PRESTAZIONE', 'PRIORITÀ']).agg({col: ['mean'] for col in df.select_dtypes(['number']).columns})
pivot.columns = ['_'.join(multi_index) for multi_index in pivot.columns.ravel()]
pivot = pivot.reset_index()
#pivot

df.to_csv('PG23_2021.csv', sep=';')

## VALLE OLONA

xls = pd.ExcelFile('./valleOlona/Tempi-Attesa-ASST-Valle-Olona-2021.xlsx')
#xls.sheet_names

# to read all sheets to a map
sheet_to_df_map = {}
for sheet_name in xls.sheet_names:
    sheet_to_df_map[sheet_name] = xls.parse(sheet_name)
    # you can also use sheet_index [0,1,2..] instead of sheet name.
    
list=[]

for k,v in sheet_to_df_map.items():
    if list==[]:
        df = sheet_to_df_map[k]
        df.rename(columns={'Media':'GENNAIO'}, inplace=True)
        list.append(k)
        #print(list[0])
        
    else:
        df[k]=""
        for index2, value2 in df.iterrows():
            for index, value in v.iterrows():
            
                if (value[:3]==value2[:3]).all():
                    #print(f' 1 - {value[:3]} => 2 - {value2[:3]}   ; 3 = {value2[3]}')
                    
                    df[k][index2]=int(ceil(value[3]))
                    v.drop([index], inplace=True)
                    #print(k, v.shape)
                    break
                    
                else:
                    #df = df.append({0: value[0], 1: value[1] , 2:value[2], 'k':value[3]}, ignore_index=True)
                    #print(f' {value[0]}, 1: {value[1]} , 2:{value[2]}, k:{value[3]}')
                    pass
        print(f' DATABASE V :    {v.shape} \n DATABASE DF : {df.shape}')
        for index, value in v.iterrows():
            df = df.append({'Presidio': value[0], 'Prestazione': value[1] , 'Priorità':value[2], k:int(ceil(value[3]))}, ignore_index=True)
            
df['GENNAIO'] = df['GENNAIO'].astype('object')
for index, value in df['GENNAIO'].iteritems():
    if not pd.isnull(value):
        df['GENNAIO'][index] = int(ceil(value))
    else:
        pass

df.to_csv('valleOlona_2021.csv', sep=';')

## Sette Laghi

xls = pd.ExcelFile('./setteLaghi/MTA.xlsx')
#xls.sheet_names

# to read all sheets to a map
sheet_to_df_map = {}
for sheet_name in xls.sheet_names:
    sheet_to_df_map[sheet_name] = xls.parse(sheet_name)
    # you can also use sheet_index [0,1,2..] instead of sheet name.
    
list=[]

for k,v in sheet_to_df_map.items():
    if list==[]:
        df = sheet_to_df_map[k]
        list.append(k)
        #print(list[0])
        
    else:
        df[k]=""
        for index2, value2 in df.iterrows():
            for index, value in v.iterrows():
                #print(f' 1 - {value[:5]} => 2 - {value2[:5]}   ; 3 = {value2[3]}')
                if (value[:5]==value2[:5]).all():
                    #print(f' 1 - {value[:3]} => 2 - {value2[:3]}   ; 3 = {value2[3]}')
                    
                    df[k][index2]=int(ceil(value[5]))
                    v.drop([index], inplace=True)
                    #print(k, v.shape)
                    break
                    
                else:
                    #df = df.append({0: value[0], 1: value[1] , 2:value[2], 'k':value[3]}, ignore_index=True)
                    #print(f' {value[0]}, 1: {value[1]} , 2:{value[2]}, k:{value[3]}')
                    pass
        print(f' DATABASE V :    {v.shape} \n DATABASE DF : {df.shape}')
        for index, value in v.iterrows():
            df = df.append({'Disciplina': value[0], 'Cod. Prestazione': value[1] , 'Descr. Prestazione': value[2], \
                            'Presidio': value[3], 'Priorità':value[4], k:int(ceil(value[5]))}, ignore_index=True)
            
'''df['GENNAIO'] = df['GENNAIO'].astype('object')
for index, value in df['GENNAIO'].iteritems():
    if not pd.isnull(value):
        df['GENNAIO'][index] = int(ceil(value))
    else:
        pass '''

## MANTOVA

In [2]:
xls = pd.ExcelFile('./lariana/TMA_AMBULATORIALI_2021.xlsx')
#xls.sheet_names

In [3]:
# to read all sheets to a map
sheet_to_df_map = {}
for sheet_name in xls.sheet_names:
    sheet_to_df_map[sheet_name] = xls.parse(sheet_name, header=5)
    # you can also use sheet_index [0,1,2..] instead of sheet name.
    
list=[]

for k,v in sheet_to_df_map.items():
    if list==[]:
        df = sheet_to_df_map[k]
        list.append(k)
        #print(list[0])
        
    else:
        df[k]=""
        df["QTA'"]=""
        for index2, value2 in df.iterrows():
            for index, value in v.iterrows():
                #print(f' 1 - {value[:5]} => 2 - {value2[:5]}   ; 3 = {value2[3]}')
                if (value[:5]==value2[:5]).all():
                    #print(f' 1 - {value[:3]} => 2 - {value2[:3]}   ; 3 = {value2[3]}')
                    
                    df[k][index2]=int(ceil(value[5]))
                    df["QTA'"][index2]=value[6]
                    v.drop([index], inplace=True)
                    #print(k, v.shape)
                    break
                    
                else:
                    #df = df.append({0: value[0], 1: value[1] , 2:value[2], 'k':value[3]}, ignore_index=True)
                    #print(f' {value[0]}, 1: {value[1]} , 2:{value[2]}, k:{value[3]}')
                    pass
        '''print(f' DATABASE V :    {v.shape} \n DATABASE DF : {df.shape}')
        for index, value in v.iterrows():
            df = df.append({'Disciplina': value[0], 'Cod. Prestazione': value[1] , 'Descr. Prestazione': value[2], \
                            'Presidio': value[3], 'Priorità':value[4], k:int(ceil(value[5]))}, ignore_index=True)
            '''
'''df['GENNAIO'] = df['GENNAIO'].astype('object')
for index, value in df['GENNAIO'].iteritems():
    if not pd.isnull(value):
        df['GENNAIO'][index] = int(ceil(value))
    else:
        pass '''

"df['GENNAIO'] = df['GENNAIO'].astype('object')\nfor index, value in df['GENNAIO'].iteritems():\n    if not pd.isnull(value):\n        df['GENNAIO'][index] = int(ceil(value))\n    else:\n        pass "

In [4]:
df

              DISCIPLINA CODICE  \
0           Allergologia  89017
1                    NaN    NaN
2                    NaN    NaN
3                    NaN    NaN
4                    NaN    NaN
5                    NaN    NaN
6                    NaN    NaN
7                    NaN    897
8                    NaN    NaN
9                    NaN    NaN
10                   NaN    NaN
11                   NaN    NaN
12                   NaN    NaN
13                   NaN    NaN
14                   NaN    NaN
...                  ...    ...
1547                 NaN    NaN
1548                 NaN    NaN
1549                 NaN    NaN
1550                 NaN    NaN
1551                 NaN    NaN
1552                 NaN    NaN
1553                 NaN    NaN
1554                 NaN    NaN
1555                 NaN    NaN
1556                 NaN    NaN
1557                 NaN    NaN
1558                 NaN    NaN
1559                 NaN    NaN
1560                 NaN   9649
1561  Totale complessivo    NaN

                                          PRESTAZIONE  \
0     VISITA DERMATOLOGICA/ALLERGOLOGICA DI CONTROLLO
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                        PRIMA VISITA
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
...                                               ...
1547                                              NaN
1548                                              NaN
1549                                              NaN
1550                                              NaN
1551                                              NaN
1552                                              NaN
1553                                              NaN
1554                                              NaN
1555                                              NaN
1556                                              NaN
1557                                              NaN
1558                                              NaN
1559                                              NaN
1560                     INSTILLAZIONE GENITOURINARIA
1561                                              NaN

                                               PRESIDIO PRIORITA'  \
0                              POLIAMB. OSPEDALE CANTU'         P
1                         POLIAMBUL.OSP.MARIANO COMENSE         P
2                               POLIAMBULATORIO LOMAZZO         D
3                                                   NaN         P
4                               POLIAMBULATORIO OLGIATE         P
5                           POLIAMBULATORIO PONTELAMBRO         P
6                    POLIAMBULATORIO VIA NAPOLEONA COMO         P
7                              POLIAMB. OSPEDALE CANTU'         B
8                                                   NaN         D
9                                                   NaN         P
10                        POLIAMBUL.OSP.MARIANO COMENSE         B
11                                                  NaN         D
12                                                  NaN         P
13                              POLIAMBULATORIO LOMAZZO         B
14                                                  NaN         D
...                                                 ...       ...
1547                                                NaN         U
1548                       POLIAMBULATORIO OSP.MENAGGIO         B
1549                                                NaN         P
1550                                                NaN         U
1551                        POLIAMBULATORIO PONTELAMBRO         D
1552                                                NaN         P
1553  POLIAMBULATORIO SAN FERMO NUOVO OSPEDALE SANT'...         B
1554                                                NaN         D
1555                                                NaN         P
1556                 POLIAMBULATORIO VIA NAPOLEONA COMO         B
1557                                                NaN         D
1558                                                NaN         P
1559                                                NaN         U
1560  POLIAMBULATORIO SAN FERMO NUOVO OSPEDALE SANT'...         P
1561                                                NaN       NaN

      TEMPI MEDI DI ATTESA  QTA' PRESTAZIONI FEBBRAIO QTA' MARZO APRILE  \
0                10.000000                 5       20    7    23     37
1                 9.400000                 5
2                 9.000000                 1
3                12.535714                28
4                21.666667                 3
5                 8.500000                 2
6                30.241379                29
7                13.500000                 2
8                16.500000                 2
9                12.357143                14
10                8.250000                 4
11               14.000000                 2
12               13.142857                21
13                1.000000                 1
14               10.000000                 6
...                    ...               ...      ...  ...   ...    ...
1547              5.000000                 1
1548              7.000000                 1
1549              8.250000                 8
1550              3.000000                 1
1551             15.000000                 1
1552             28.333333                 6
1553              5.333333                 3
1554             21.000000                 1
1555             11.571429                 7
1556              3.750000                12
1557              7.833333                 6
1558             32.928571                28
1559              2.833333                 6
1560             61.202703                74
1561             22.239746             28019

     MAGGIO GIUGNO LUGLIO AGOSTO SETTEMBRE OTTOBRE NOVEMBRE DICEMBRE
0        34     30     36     39        40               38       75
1
2
3
4
5
6
7
8
9
10
11
12
13
14
...     ...    ...    ...    ...       ...     ...      ...      ...
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561

[1562 rows x 19 columns]